
/* $rest-font: "Inconsolata"; */
:root {
  --theme-font : "Poppins";


  --add-button-color : #ffb023;
  /* --first-color : #d6c333; */
  --first-background-color : #ffffff;
  --second-background-color : #ffffff;
  --first-pattern-light-color : #ffffff;
  --second-pattern-light-color: #ffffff;
  --first-light-color: #ffc967;
  --second-light-color: #ffa813;
  /* --second-light-color : #f0f0f0; */
  --food-card-color: #ffffff;

  --welcome-card-color: #ffffff;
  --welcome-card-shadow-color: #666666;
  --welcome-card-text-color: #000000;
  --first-food-button-color: #ffffff;
  --second-food-button-color: #ffffff;
  --food-menu-button-color: #ffb023;
  --food-menu-button-shadow-color: #a86b00;

  --pattern-1: repeating-linear-gradient(
    90deg,
    var(--first-background-color),
    var(--first-background-color) 10px,
    var(--second-background-color) 10px,
    var(--second-background-color) 20px
  );

  --pattern-2: repeating-linear-gradient(
    -45deg,
    var(--first-light-color),
    var(--first-light-color) 5px,
    var(--second-light-color) 5px,
    var(--second-light-color) 10px
  );

  --pattern-light: repeating-linear-gradient(
    -45deg,
    var(--first-pattern-light-color),
    var(--first-pattern-light-color) 10px,
    var(--second-pattern-light-color) 10px,
    var(--second-pattern-light-color) 20px
  );

  --home-background: var(--pattern-1);

  --small-light-gradient: repeating-linear-gradient(
    -45deg,
    var(--first-light-color),
    var(--first-light-color) 1px,
    var(--second-light-color) 1px,
    var(--second-light-color) 2px
  );
  --big-light-gradient: var(--pattern-2);

  --full-menu-button-color: repeating-linear-gradient(
    -45deg,
    var(--first-food-button-color),
    var(--first-food-button-color) 1px,
    var(--second-food-button-color) 1px,
    var(--second-food-button-color) 2px,
  );

  --top-bar-color : #ffb023;
  --search-background-color : #ffc45c;
  --burger-menu-background-color: #c0841d;
}

.default-screen {
  background: var(--menu-background);  
  position: relative;
  padding: 0rem;
  top: 3rem;
  padding-bottom: 4rem;
  min-height: calc(100vh - 30vw);
}
.coupons-screen {
  background: var(--menu-background);
  position: relative;
  padding: 1.5rem;
  top: 3rem;
  padding-bottom: 4rem;
  min-height: 90vh;

}
.home-screen {
  background: var(--home-background);
  opacity: 1;
  position: relative;
  top: 3rem;
  padding-bottom: 0rem;
  font-family: var(--theme-font);
  min-height: 90vh;
}
.home-screen-images {
  height: -moz-fit-content;
  margin-bottom: -15%;
}
/* @media only screen and (max-width: 410px) {
   .responsive-height {
     max-height: 380px;
   }
 }

 @media only screen and (min-width: 550px) {
   .responsive-height {
     max-height: 420px;
   }
 } */

.welcome-card-carousel {
  left: 50%;
  transform: translateX(-50%);
  /* left: 5rem; */
  position: relative;
  top: -5rem;
  /* transform: translateY(-50%); */
  background-color: var(--welcome-card-color);
  width: 80%;
  border: none;
  /* box-shadow: 1px 2px var(--welcome-card-shadow-color); */
}
.welcome-card-home {
  padding: 5% 5% 0% 3%;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  /* width: 50%; */
  text-align: left;
  font-weight: bold;
  font-size: x-large;
}
.welcome-card-title {
  text-align: center;
  color: var(--welcome-card-text-color);
  padding: 1rem 1rem 0.2rem 1rem;
  margin-bottom: 0rem;
}
.welcome-card-text {
  text-align: center;
  color: var(--welcome-card-text-color);
  padding: 0.5rem 1rem 0.2rem 1rem;
  margin-bottom: 0rem;
}

.full-menu-text {
  margin: 0.4rem 0;
  color: black;
  font-weight: bold;
  text-align: center;
  padding: 0 1rem;
}
.full-menu-button-div {
  display: flex;
  width: 90% !important;
  margin: 0 auto;
  margin-bottom: 1rem;
  background: var(--food-menu-button-color);
  /* background: var(--small-light-gradient); */
  /* border: 3px solid #af8000; */
  border: 0px solid #ffb023;
  box-shadow: 0px 2px 2px var(--food-menu-button-shadow-color);
}

.view-all-home-screen {
  background-color: transparent;
  border-color: #000000;
  float: right;
  font-size: small;
  color: black;
}

.rest-of-home-screen {
  margin-bottom: 10rem;
  position: relative;
  padding: 1rem;
}

.home-screen-headings {
  padding: 3%;
  /* font-family: var(--theme-font); */
  text-align: left;
  font-size: larger;
  letter-spacing: 0.04px;
  opacity: 1;
  text-justify: auto;
  font-weight: bold;
  font-size: larger;
  margin-bottom: 0rem;
}
.home-screen-headings-text {
  position: relative;
  top: 0.3rem;
  left: 0.3rem;
}

.home-screen-lists-card {
  margin-top: 2rem;
  /* margin-left: 2%; */
  background: var(--big-light-gradient);
  border-radius: 8px;
  opacity: 1;
  /* top: 2rem; */
  padding-bottom: 2rem;
}

.need-help-div {
  height: 30%;
  display: inline-block;
  width: 95% !important;
  margin: 4% 4% 4% 4%;
  background: var(--small-light-gradient);
}

.need-help-images {
  /* height: %; */
  scale: 100%;
}

.need-help-names {
  text-align: center;
  /*  text-overflow: initial; */
  letter-spacing: 0px;
  opacity: 1;
  /* font-family: var(--theme-font); */
  font-size: 1rem;
  font-weight: bold;
  height: 4rem;
  padding-top: 0.2rem;
}

.slick-slider {
  top: 0.5rem;
}

.slick-track {
  display: flex !important;
}

.slick-slide {
  height: inherit !important;
}

/*  .custom-slider {
   .slick-slide {
     margin: 0 -10px;
     height: inherit !important;
   }
   .slick-list {
     padding: 0px 75px !important;
   }
 } */
.desc-home-body {
  min-height: 100px;
  /* font-family: var(--theme-font); */
  text-align: left;
  font-size: 12px;
  letter-spacing: 0.04px;
  color: #707070;
  opacity: 1;
}

.home-item {
  border-radius: 8px;
  text-transform: capitalize;
  margin-left: 6% !important;
  width: 85% !important;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #efefef;
  border-radius: 6px;
  opacity: 1;
}
.home-screen-food-card {
  background: var(--food-card-color);
  width: 90%;
  padding-bottom: 0%;
}
.slick-prev:before,
.slick-next:before {
  color: black !important;
}

/* .slick-list{padding:0 20% 0 0;} */
.modal-header {
  font-weight: bold !important;
  background: var(--pattern-light);
}
.modal-body {
  background-color: var(--categories-list-item-color);
}
.modal-footer {
  background: var(--pattern-light);
}
.options-title {
  text-align: center;
  font-family: var(--theme-font);
  /* font-size: x-large; */
  font-weight: bold;
  letter-spacing: 1.2px;
  color: #000000;
  text-transform: capitalize;
  opacity: 1;
}
.options-modal {
  color: #000000;
  opacity: 0.6;
   /* font-family: $rest-font; */
  font-size: 12px;
  letter-spacing: 0px;
}