
$rest-font: "Inconsolata";



.home-screen-images {
  height: -moz-fit-content;
  margin-bottom: -18%;
}
// @media only screen and (max-width: 410px) {
//   .responsive-height {
//     max-height: 380px;
//   }
// }

// @media only screen and (min-width: 550px) {
//   .responsive-height {
//     max-height: 420px;
//   }
// }
.rest-card-home {
  padding: 5% 5% 0% 3%;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  /* width: 50%; */
  text-align: left;
  font-weight: bold;
  font-size: x-large;
}


.view-all-home-screen {
  background-color: transparent;
  border-color: #000000;
  float: right;
  font-size: small;
  color: black;
}

.home-screen-headings {
  padding: 3%;
  font-family: $rest-font;
  text-align: left;
  font-size: larger;
  letter-spacing: 0.04px;
  opacity: 1;
  text-justify: auto;
  font-weight: bold;
  font-size: larger;
  margin-bottom: 0rem;
}

.home-screen-headings-text {
  position: relative;
  top: 0.3rem;
  left: 0.3rem;
}

.need-help-div {
  height: 30%;
  display: inline-block;
  width: 95% !important;
  margin: 4% 4% 4% 4%;
  // background-color: #fde194;
  background: repeating-linear-gradient(
    -45deg,
    #ffe83d,
    #ffe83d 1px,
    #ffcf31 1px,
    #ffcf31 2px
  );
}

.need-help-images {
  // height: %;
  scale: 100%;
}

.need-help-names {
  text-align: center;
  // text-overflow: initial;
  letter-spacing: 0px;
  opacity: 1;
  font-family: $rest-font;
  font-size: medium;
  font-weight: bold;
  height: 4rem;
  padding-top: 0.2rem;
}

.slick-slider {
  top: 0.5rem;
}

.slick-track {
  display: flex !important;
}

.slick-slide {
  height: inherit !important;
}

// .custom-slider {
//   .slick-slide {
//     margin: 0 -10px;
//     height: inherit !important;
//   }
//   .slick-list {
//     padding: 0px 75px !important;
//   }
// }
.desc-home-body {
  min-height: 100px;
  font-family: $rest-font;
  text-align: left;
  font-size: 12px;
  letter-spacing: 0.04px;
  color: #707070;
  opacity: 1;
}

.home-item {
  border-radius: 8px;
  text-transform: capitalize;
  margin-left: 6% !important;
  width: 85% !important;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #efefef;
  border-radius: 6px;
  opacity: 1;
}

.slick-prev:before,
.slick-next:before {
  color: black !important;
}

// .slick-list{padding:0 20% 0 0;}
