.status-screen {
  background: var(--menu-background);
  position: relative;
  padding: 0rem;
  top: 0rem;
  padding-bottom: 4rem;
  min-height: calc(100vh - 30vw);
  overflow: auto;
}
.order-status-styling {
  padding-bottom: 10%;
  padding-top: 10%;
  padding-left: 5%;
  padding-right: 5%;
  margin: 0 auto;
}
.status-styling {
  background: white;
  /* background: var(--menu-background); */
  border-radius: 6px;
  opacity: 1;

  color: #000000;
}