$brand-clr :#CD181F;// #FF424D;// #004A77;//#821cd0;// #481380; //#192965;//nice blueish #0061d5; // violetish color #481380;
$bg-clr:#f0efef; //  background: #f8f9fa;
$cart-bg :rgba(0,0,0,.075);

.brand-clr {
    color: $brand-clr;
}