@import "./base";

$base-font: "Poppins";
$rest-font: "Inconsolata";
$border-dark: #000000;

.alert {
  border: 1px solid $border-dark;
}
// $food_card_color : #ffd900;
$food_card_color: #faee4a;
$top_bar_color: #ffcf31;
$category-sticky-color: $top_bar_color;
$add_button_color: #ffb023;

body {
  margin: 0;
  color: #2d2d2d;
  background-color: #f8f9fa!important;
  // background: repeating-linear-gradient(
  //   90deg,
  //   #d6c333,
  //   #d6c333 10px,
  //   #d1a926 10px,
  //   #d1a926 20px
  // );
  font-family: "Poppins";
  // font-family: "Inconsolata";
  -webkit-font-smoothing: antialiased;
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer */
  -khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
  -webkit-user-select: none; /* Chrome, Safari, and Opera */
  -webkit-touch-callout: none; /* Disable Android and iOS callouts*/
  -moz-osx-font-smoothing: grayscale;
}


.billing-page {
  background: repeating-linear-gradient(
    90deg,
    #d6c333,
    #d6c333 10px,
    #d1a926 10px,
    #d1a926 20px
  );
}



// .food-options-modal{
//   background-color: transparentize($color: #000000, $amount: 0.7);
//   font-weight: 700;
//   height: 90%;
// }



.footer-nav {
  position: relative;
  font-size: 0.8rem;
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
  position: fixed;
  bottom: 1px;
  z-index: 420;
  opacity: 1;
  border-radius: 8px;
  box-shadow: 0px 0px 16px #00000029;
  opacity: 1;
  // background: #ffb023 0% 0% no-repeat padding-box;
  // background: $top_bar_color 0% 0% no-repeat padding-box;

  color: white;

  & .styled-link > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.5rem 1rem 0.5rem 1rem;
    color: #262626;
    & svg.icon {
      height: 1.2rem;
      width: 1.2rem;

      &.menu {
        height: 20px;
        width: 20px;
      }
    }
  }




  .floating-container {
    position: absolute;
    right: 0;
    bottom: 100%;
    // height: 24rem;
    margin-bottom: 0.5rem;
    margin-right: 1rem;
    font-size: 2rem;
    transition: transform 0.3s ease;

    [class^="floating-action"] {
      position: absolute;
      font-size: 1rem;
      line-height: 3rem;
      opacity: 0;
      right: 0;
      top: 0;
      z-index: -1;
      transition: right 0.3s ease, top 0.3s ease;
      background: #c4c4c2;
      padding: 0.75rem;
    }
    // .floating-action-1 {

    // }
    &.rotate-fab {
      .plus_cross {
        transform: rotate(45deg);
      }
      [class^="floating-action"] {
        opacity: 1;
        z-index: unset;
      }
      .floating-action-1 {
        right: 6rem;
      }
      .floating-action-2 {
        top: -6rem;
      }
      .floating-action-3 {
        top: -4rem;
        right: 4rem;
      }
      .floating-action-4 {
        top: -4rem;
        right: -4rem;
      }
      .floating-action-5 {
        right: -6rem;
      }
    }
  }
}

// .category {
//   margin-bottom: 66px;
//   position: relative;
//   padding: 0rem;
//   .category-card {
//     border: 2px solid #ffe83d;
//     // border-image: repeating-linear-gradient( 45deg, #ffe83d, #ffe83d 10px, #ffcf31 10px, #ffcf31 20px) 25;
//     margin-bottom: 0.5rem;
//     margin-left: 0.5rem;
//     // margin-left: 1rem;
//     // margin-right: 1rem;
//     margin-right: 0.5rem;
//     // background-color:#f8f9fa;
//     // background-color:#f0efef;

//     & > :first-child {
//       font-size: 1rem;
//       font-weight: 600;
//       padding: 0.5rem;
//       background-color: $food_card_color;
//       // margin-top: 1rem;
//       // padding-left: 1rem;
//       // padding-right: 1rem;
//       // display: flex;
//       & p {
//         margin: 0;
//       }
//     }
//     & ul {
//       list-style-type: none;
//     }

//     & .category-body {
//       display: flex;
//       justify-content: space-between;
//     }

//     & .Menu-body {
//       color: grey;
//       display: flex;
//       justify-content: space-between;

//       & p {
//         margin-bottom: 0;
//         line-height: 2rem;
//       }
//       & span {
//         font-size: 2rem;
//         line-height: 2rem;
//       }
//     }
//   }
// }

.fab-actions {
  position: absolute;
  right: 0;
  bottom: calc(100% + 10px);
  background-color: #adb5bd40;
  border-radius: 5px;
  padding: 0.6rem;

  & ul {
    list-style-type: none;
    color: #262626;
    font-size: 14px;
  }
}


.nav-search-bar {
  width: 95%;
  position: fixed;
  z-index: 1;
  transition: opacity 0.3s ease;
  & input {
    margin-left: 27%;
    width: 51%;
    background-color: $bg-clr;
    color: black;
    border: none;
    outline: none;
    text-align: center;
    border-bottom: 1px solid;
  }
}

.margin-styling {
  margin-bottom: 2%;
}

.search-svg {
  position: absolute;
  right: -1.5rem;
  float: right;
  z-index: 2;
  height: 22px;
  bottom: 8px;
  fill: #262626;
}

.closesearch-svg {
  position: absolute;
  right: -14rem;
  float: right;
  z-index: 2;
  height: 22px;
  bottom: 8px;
  fill: #262626;
}

.slick-list {
  padding: 0 20% 0 0;
}

.icon-plus {
  float: right;
  fill: darkslategray;
  width: 30px;
  height: 30px;
}
.styled-link {
  text-decoration: none;
  // width: 20%;
  width: 25%;
  color: inherit;
  &:focus,
  &:hover,
  &:visited,
  &:link,
  &:active {
    text-decoration: none;
    color: inherit;
  }
}
.styled-link-home {
  text-decoration: none;
  color: inherit;
  &:focus,
  &:hover,
  &:visited,
  &:link,
  &:active {
    text-decoration: none;
    color: inherit;
  }
}

.see-more {
  padding: 5%;
  float: left;
}

.cart-wrapper {
  padding: 1rem;
  // height: 80vh;
  .cart-card {
    border: none;
    // background-color: $cart-bg;
    margin-bottom: 1rem;
    font-weight: 500;
    & .body {
      padding-right: 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      & > p.name {
        width: 46%;
      }
      & p {
        margin: 0;
      }
      & span {
        font-size: 2rem;
        line-height: 2rem;
      }
    }
  }
  .icon-delete {
    border-radius: 1rem;
    width: 2rem;
    height: 2rem;
    padding: 10px;
    fill: red;
    background-color: #ff2c2c29;
  }

  .empty-cart {
    text-align: center;
    margin: auto;
    & svg {
      width: 150px;
    }
    & p {
      color: #3b3b3b;
      font-size: 1.2rem;
      font-weight: 500;
    }
  }
}

.icon {
  cursor: pointer;
  margin: 0 1rem;
  height: 14px;
  & svg {
    height: 12px;
    width: 14px;
  }
}


// .bill-btn {
//   display: flex;
//   justify-content: space-evenly;
//   border: 2px solid #ffb023;
//   color: #000000;
//   border-radius: 6px;
//   text-transform: uppercase;
//   opacity: 1;
//   background: transparentize($color: #ffb023, $amount: 0.3);
//   padding: 0.6rem;
//   font-family: $rest-font;
//   cursor: pointer;
//   font-weight: 600;
//   align-items: center;

//   &:active {
//     background-color: $cart-bg;
//     color: black;
//     border: none;
//     & svg {
//       fill: black;
//     }
//   }
//   & p {
//     margin-bottom: 0;
//   }
//   & svg {
//     fill: $brand-clr;
//   }
// }

.cart-plus-minus-svg {
  fill: darkslategrey;
  & path {
    stroke: darkslategrey;
  }
}


.sideDrawer {
  //width will be set by js,  width grows to 50%
  position: fixed;
  left: 0;
  top: 43px;
  height: 100%;
  z-index: 200;
  overflow-x: hidden; //even when width is 0, elements are showing. this fixes the issue
  background-color: $brand-clr;
  color: white;
  transition: all 0.3s;
  text-align: center;
}

.table-thead {
  & th {
    font-weight: 600;
  }
}

.trial {
  background: transparent;
  color: #000000;
  border: 2px solid #ffb023;
  border-radius: 6px;
  opacity: 1;
}

.trial-fooditem {
  background: transparent;
  color: #ffb023;
  border-radius: 6px;
  float: right;
  opacity: 1;
}


.options-modal {
  color: #000000;
  opacity: 0.6;
  // font-family: $rest-font;
  font-size: 12px;
  letter-spacing: 0px;
}
.food-desc {
  text-align: left;
  color: #000000;
  opacity: 0.6;
  font-family: $rest-font;
  font-size: small;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  letter-spacing: 0px;
  // padding-left: 0.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}



.restaurant-header {
  position: fixed;
  left: 15%;
  z-index: 2;
  margin-top: 4px;
  display: block;
}

.username {
  position: fixed;
  float: right;
  right: 50px;
  z-index: 2;
  margin-top: 4px;
}

.radio-div {
  margin-bottom: 2%;
  float: left;
  width: 50%;
}

.radio-div-2 {
  margin-bottom: 2%;
  float: left;
  width: 55%;
}
.detailsImage {
  width: 100%;
  height: 200px;
  border-radius: 10px;
}
.details-title {
  width: 100%;
}
.card-image {
  width: 93px;
  height: 100px;
  opacity: 1;
}

.item-price {
  text-align: left;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  float: left;
  font-family: $rest-font;
  padding-top: 0.5rem;
  padding-left: 0rem;
  margin-bottom: 0rem;
}

.item-name {
  text-align: left;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  font-family: $rest-font;
  font-size: 0.9rem;
}

.dynamic-button {
  float: right;
  color: rgb(255, 176, 35);
}

.cart-menu {
  border-bottom: 1.5px solid $bg-clr;
  transition: all 0.2s ease-in-out;
  padding-bottom: 3px;
  & svg {
    fill: #808080;
  }
  &.active {
    color: $brand-clr;
    border-bottom: 1.5px solid $brand-clr;

    & svg {
      fill: #ff424d;
    }
  }
}

.item-home {
  min-height: 30px;
}

.options-home {
  min-height: 45px;
}

.card-home-image {
  width: 93px;
  height: 100px;
  opacity: 1;
}

.cart-hr {
  width: 80%;
  margin: 0 auto !important;
  color: #909090;
  opacity: 1;
}


.arrow-down {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #909090;
  margin-top: 2.9%;
  margin-left: 2%;
}

.arrow-up {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #909090;
  margin-top: 2.9%;
  margin-left: 2%;
}

.bill-details {
  color: #000000;
  font-family: $rest-font;
}



// .input-css[type=text]:focus {
//   // border: 3px #ffb023;
// }

.form-control {
  // background: #ffffff 0% 0% no-repeat padding-box;
  // box-shadow: 0px 7px 8px #1c1b1b12;
  // border: none;
  box-shadow: none;
  border-radius: 6px;
  opacity: 1;
}

.form-control:focus {
  // background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: none;
  border-radius: 6px;
  // border: none;
  // border-bottom: 1px solid black;
  opacity: 1;
}

#home-item {
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #efefef;
  border-radius: 6px;
  opacity: 1;
}

.custom-home-nav {
  bottom: 1px;
}

.options-button-close {
  color: #ffb023;
  border: 2px solid #ffb023;
  border-radius: 6px;
  opacity: 1;
  background: white;
}

.options-button-add {
  background: #ffb023 0% 0% no-repeat padding-box;
  border-radius: 6px;
  opacity: 1;
}
.options-button-add-disabled {
  background: #ffb023 0% 0% no-repeat padding-box;
  border-radius: 6px;
  opacity: 0;
}
.slick-prev {
  display: none !important;
}

.slick-next {
  display: none !important;
}

.fooditem-home {
  width: 85% !important;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #efefef;
  border-radius: 6px;
  opacity: 1;
}

input[type="radio"]:checked:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  position: relative;
  background-color: #ffa500;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 2px solid #ffa500;
}

#root {
  padding-bottom: 15%;
}

.btn-primary:hover {
  background: #ffb023 0% 0% no-repeat padding-box !important;
  border-color: #ffb023 0% 0% no-repeat padding-box !important;
}

.card-title-name {
  background: #ffb023 0% 0% no-repeat padding-box;
  border-radius: 0px 6px 6px 0px;
  opacity: 1;
  padding: 1.25rem;
  font-size: 14px;
  width: 50%;
}

.table-name-card {
  text-align: left;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  font-family: $rest-font;
}

.table-name-card-billing {
  text-align: left;
  font-size: 12px;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  font-family: $rest-font;
}

.item-status {
  text-align: left;
  letter-spacing: 0px;
  font-size: 13px;
  color: #000000;
  opacity: 1;
  font-family: $rest-font;
  font-weight: 700;
}

.item-status-tagging {
  float: right;
  padding-left: 4%;
  text-align: left;
  text-transform: capitalize;
  letter-spacing: 0px;
  font-size: 13px;
  color: #000000;
  opacity: 1;
  font-family: $rest-font;
}

.slick-track {
  display: flex !important;
}

.slick-slide {
  height: auto;
}

.sign-in {
  text-align: center;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  font-family: $base-font;
  font-weight: 700;
  font-size: 26px;
}

.sign-in-label {
  text-align: center;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  font-family: $base-font;
  font-size: 15px;
}

.sign-in-button {
  background-color: #ffb023 0% 0% no-repeat padding-box !important;
  background: #ffb023 0% 0% no-repeat padding-box !important;
  border-color: #ffb023 !important;
  border-radius: 6px !important;
  opacity: 1 !important;
  font-size: 17px;
  font-family: $base-font;
}

.sign-in-or {
  padding-top: 5%;
  text-align: center;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  font-family: $base-font;
  font-size: 15px;
}

.sign-in-google {
  background-color: #ffffff 0% 0% no-repeat padding-box !important;
  background: #ffffff 0% 0% no-repeat padding-box !important;
  border-color: #b3b3b3 !important;
  border: 2px solid !important;
  border-radius: 6px !important;
  color: black !important;
  opacity: 1 !important;
  font-size: 14px;
  min-height: 42px;
  font-family: $base-font;
}

.sign-in-facebook {
  background: #1877f2 0% 0% no-repeat padding-box !important;
  background-color: #1877f2 0% 0% no-repeat padding-box !important;
  border-color: #b3b3b3 !important;
  border: 2px solid !important;
  border-radius: 6px !important;
  color: white !important;
  opacity: 1 !important;
  font-size: 14px;
  min-height: 42px;
  font-family: $base-font;
}

.empty-orders {
  background-color: #ffb023 0% 0% no-repeat padding-box !important;
  background: #ffb023 0% 0% no-repeat padding-box !important;
  border-color: #ffb023 !important;
  border: 2px solid !important;
  border-radius: 6px !important;
  color: white !important;
  opacity: 1 !important;
  font-size: 14px;
  min-height: 42px;
  font-family: $rest-font;
}

.sign-in-member {
  margin-top: 5%;
  text-align: center;
  letter-spacing: 0px;
  color: #818181;
  font-family: $base-font;
}

input[type="radio"] {
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 15px;
  outline: none;
  width: 15px;
  position: relative;
  content: "";
  display: inline-block;
  visibility: visible;
  box-shadow: 0px 0px 0px 2px #ffb023;
}

#connected-socket {
  position: absolute;
  background-color: green;
  background: green;
  border-radius: 50%;
  display: block;
  width: 10px;
  height: 10px;
  top: 0.2rem;
}

#dis-connected-socket {
  position: absolute;
  background-color: red;
  background: red;
  border-radius: 50%;
  display: block;
  width: 10px;
  height: 10px;
  top: 0.2rem;
}

.search-items {
  text-transform: capitalize;
  font-family: $rest-font;
  font-size: 12px;
}

.search-close-button {
  margin-left: -9%;
  position: fixed;
  // float: left;
  height: calc(1.5em + 0.75rem + 2px);
  width: 8%;
  background: #ffffff 0% 0% no-repeat padding-box !important;
  box-shadow: 0px 7px 8px #1c1b1b12 !important;
  border-radius: 6px;
  opacity: 1;
  color: #7f7f7f;
}

.error-handling {
  font-family: $base-font;
  font-size: 12px;
  color: red;
  padding-bottom: 5%;
}

.coupon-div {
  border-radius: 8px;
  padding: 6%;
}

.paymentLogo {
  border: 1px solid black;
  padding: 2%;
}

.slick-dots li {
  font-size: 10px !important;
}

.fooditem-card {
  padding-bottom: 0%;
}
.SVG-Logo-Class {
  height: 2rem;
  width: 2rem;
}