@import "./base";

.nav-search-bar {
  width: 95%;
  position: fixed;
  z-index: 1;
  transition: opacity 0.3s ease;
  & input {
    margin-left: 27%;
    width: 51%;
    background-color: $bg-clr;
    color: black;
    border: none;
    outline: none;
    text-align: center;
    border-bottom: 1px solid;
  }
}

.margin-styling {
  margin-bottom: 2%;
}
.order-status-styling {
  padding-bottom: 20%;
  padding-top: 10%;
  width: 80%;
  margin: 0 auto;
}

.search-svg {
  position: absolute;
  right: 27px;
  float: right;
  z-index: 2;
  height: 22px;
  bottom: 8px;
  fill: #262626;
}
.footer-nav {
  position: relative;
  font-size: 0.8rem;
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
  position: fixed;
  bottom: 1px;
  z-index: 9000;
  opacity: 1;
  border-radius: 8px;
  box-shadow: 0px 0px 16px #00000029;
  opacity: 1;
  background: #ffb023 0% 0% no-repeat padding-box;
  color: white;

  & .styled-link > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.5rem 1rem 0.5rem 1rem;
    color: #262626;
    & svg.icon {
      height: 1.2rem;
      width: 1.2rem;

      &.menu {
        height: 20px;
        width: 20px;
      }
    }
  }

  .FAB {
    color: #636364;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 17px;
    opacity: 1;
    display: flex;
    flex-direction: column;
    padding: 10%;
    font-size: 20px;
    align-items: center;
  }

  .menu-button-footer {
    color: #636364;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 17px;
    opacity: 1;
    display: flex;
    flex-direction: column;
    padding: 10%;
    font-size: 20px;
    align-items: center;
  }

  .floating-container-menu {
    padding: 1%;
    position: absolute;
    bottom: 100%;
    margin-bottom: 0.5rem;
    margin-right: 1rem;
    font-size: 2rem;
    transition: transform 0.3s ease;
  }

  .floating-container {
    position: absolute;
    right: 0;
    bottom: 100%;
    margin-bottom: 0.5rem;
    margin-right: 1rem;
    font-size: 2rem;
    transition: transform 0.3s ease;

    [class^="floating-action"] {
      position: absolute;
      font-size: 1rem;
      line-height: 3rem;
      opacity: 0;
      right: 0;
      top: 0;
      z-index: -1;
      transition: right 0.3s ease, top 0.3s ease;
      background: #c4c4c2;
      padding: 0.75rem;
    }
    // .floating-action-1 {

    // }
    &.rotate-fab {
      .plus_cross {
        transform: rotate(45deg);
      }
      [class^="floating-action"] {
        opacity: 1;
        z-index: unset;
      }
      .floating-action-1 {
        right: 6rem;
      }
      .floating-action-2 {
        top: -6rem;
      }
      .floating-action-3 {
        top: -4rem;
        right: 4rem;
      }
      .floating-action-4 {
        top: -4rem;
        right: -4rem;
      }
      .floating-action-5 {
        right: -6rem;
      }
    }
  }
}
.fab-actions {
  position: absolute;
  right: 0;
  bottom: calc(100% + 10px);
  background-color: #adb5bd40;
  border-radius: 5px;
  padding: 0.6rem;

  & ul {
    list-style-type: none;
    color: #262626;
    font-size: 14px;
  }
}
.category {
  padding: 1rem;
  margin-bottom: 66px;
  .category-card {
    border: none;
    margin-bottom: 1rem;
    // background-color:#f8f9fa;
    // background-color:#f0efef;

    & > :first-child {
      font-size: 1rem;
      font-weight: 600;
      margin-bottom: 0;
      margin-top: 1rem;
      padding-left: 1rem;
      padding-right: 1rem;
      display: flex;
      & p {
        margin: 0;
      }
    }
    & ul {
      list-style-type: none;
    }

    & .category-body {
      display: flex;
      justify-content: space-between;
    }

    & .Menu-body {
      color: grey;
      display: flex;
      justify-content: space-between;

      & p {
        margin-bottom: 0;
        line-height: 2rem;
      }
      & span {
        font-size: 2rem;
        line-height: 2rem;
      }
    }
  }
}

.slick-list {
  padding: 0 20% 0 0;
}

.icon-plus {
  float: right;
  fill: darkslategray;
  width: 30px;
  height: 30px;
}
.styled-link {
  text-decoration: none;
  color: inherit;
  &:focus,
  &:hover,
  &:visited,
  &:link,
  &:active {
    text-decoration: none;
    color: inherit;
  }
}

.see-more {
  padding: 5%;
  float: left;
}

.cart-wrapper {
  padding: 1rem;
  margin-bottom: 100px;
  .cart-card {
    border: none;
    // background-color: $cart-bg;
    margin-bottom: 1rem;
    font-weight: 500;
    & .body {
      padding-right: 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      & > p.name {
        width: 46%;
        font-family: "Poppins";
      }
      & p {
        margin: 0;
      }
      & span {
        font-size: 2rem;
        line-height: 2rem;
      }
    }
  }
  .icon-delete {
    border-radius: 1rem;
    width: 2rem;
    height: 2rem;
    padding: 10px;
    fill: red;
    background-color: #ff2c2c29;
  }

  .empty-cart {
    text-align: center;
    margin: auto;
    & svg {
      width: 150px;
    }
    & p {
      color: #3b3b3b;
      font-size: 1.2rem;
      font-weight: 500;
    }
  }
}

.icon {
  cursor: pointer;
  margin: 0 1rem;
  height: 14px;
  & svg {
    height: 12px;
    width: 14px;
  }
}

.menu-btn {
  //ul
  border-radius: 6px;
  opacity: 1;

  list-style: none;
  display: flex;
  padding: 1rem;
  position: sticky;
  margin-top: 6%;
  z-index: 1;
  font-size: 1.2rem;
  font-weight: 500;
  cursor: pointer;
  width: 100%;

  cursor: pointer;
}

.menu-btn-cart {
  //ul
  border-radius: 6px;
  opacity: 1;

  list-style: none;
  display: flex;
  padding: 1rem;
  position: sticky;
  margin-top: 6%;
  z-index: 1;
  font-size: 1.2rem;
  font-weight: 500;
  cursor: pointer;
  width: 100%;

  cursor: pointer;
}

.cart-bill {
  border: none;
}

.bill-btn {
  display: flex;
  justify-content: space-evenly;
  border: 2px solid #ffb023;
  color: #ffb023;
  border-radius: 6px;
  text-transform: uppercase;
  opacity: 1;
  padding: 0.6rem;
  font-family: "Poppins";
  cursor: pointer;
  font-weight: 600;
  align-items: center;

  &:active {
    background-color: $cart-bg;
    color: black;
    border: none;
    & svg {
      fill: black;
    }
  }
  & p {
    margin-bottom: 0;
  }
  & svg {
    fill: $brand-clr;
  }
}
.category-subs {
  text-align: left;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  position: sticky;
  top: 0rem;
  background: #f4f4f2;
  font-size: 1.2rem;
  font-weight: 500;
  padding: 1rem 0;
}

.cart-plus-minus-svg {
  fill: darkslategrey;
  & path {
    stroke: darkslategrey;
  }
}

.table-btn {
  background: #ffb023 0% 0% no-repeat padding-box;
  border-radius: 6px;
  opacity: 1;
  color: #ffffff;
}

.sideDrawer {
  //width will be set by js,  width grows to 50%
  position: fixed;
  left: 0;
  top: 43px;
  height: 100%;
  z-index: 200;
  overflow-x: hidden; //even when width is 0, elements are showing. this fixes the issue
  background-color: $brand-clr;
  color: white;
  transition: all 0.3s;
  text-align: center;
}

.table-thead {
  & th {
    font-weight: 600;
  }
}

.trial {
  background: transparent;
  color: #ffb023;
  border: 2px solid #ffb023;
  border-radius: 6px;
  opacity: 1;
}

.trial-fooditem {
  background: transparent;
  color: #ffb023;
  border-radius: 6px;
  float: right;
  opacity: 1;
}

.cart-styling {
  background: #f3f3f3 0% 0% no-repeat padding-box;
  border-radius: 6px;
  opacity: 1;

  color: #000000;
}

.floating-menu {
  padding: 5%;
  line-height: 35px;
  width: 200px;
  height: 260px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 11px;
  font-size: 16px;
  color: #636364;
  opacity: 1;
}

.menu-button {
  overflow-y: scroll;
  left: -5rem;
  height: 284px;
  width: 200px;
  margin-bottom: 2.5rem;
  padding: 5%;
  line-height: 35px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 11px;
  font-size: 16px !important;
  color: #636364;
  opacity: 1;
}

.options-modal {
  text-align: left;
  color: #000000;
  opacity: 0.5;
  font-family: "Poppins";
  font-size: 12px;
  letter-spacing: 0px;
}

.modal-customization {
  width: 100%;
  display: block;
  /* top: 6%; */
  /* float: none; */
  bottom: 0;
  position: absolute;
  text-align: center;
}

.options-title {
  text-align: left;
  font-family: "Poppins";
  font-size: 24px;
  letter-spacing: 1.2px;
  color: #707070;
  text-transform: capitalize;
  opacity: 1;
}

.restaurant-header {
  position: fixed;
  left: 15%;
  z-index: 2;
  margin-top: 4px;
  display: block;
}

.username {
  position: fixed;
  float: right;
  right: 50px;
  z-index: 2;
  margin-top: 4px;
}

.radio-div {
  margin-bottom: 2%;
  float: left;
  width: 50%;
}

.radio-div-2 {
  margin-bottom: 2%;
  float: left;
  width: 55%;
}
.detailsImage {
  width: 100%;
  height: 200px;
  border-radius: 10px;
}
.details-title {
  width: 100%;
}
.card-image {
  width: 93px;
  height: 100px;
  opacity: 1;
}

.item-price {
  text-align: left;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  float: left;
  font-family: "Poppins";
}

.item-name {
  text-align: left;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  font-family: "Poppins";
}

.add-button-item {
  float: right;
  width: 30%;
  background: #ffb023 0% 0% no-repeat padding-box;
  border-radius: 6px;
  border-color: #ffb023;
  font-family: "Poppins";
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}

.menu-active {
  height: 42px;
  width: 50%;
  background: #ffb023 0% 0% no-repeat padding-box;
  color: #ffffff;
  border-radius: 0px 6px 6px 0px;
  font-family: "Poppins";
  opacity: 1;
}

.menu-inactive {
  height: 42px;
  width: 50%;
  background: #ffffff 0% 0% no-repeat padding-box;
  color: #010101;
  border-radius: 6px 0px 6px 0px;
  font-family: "Poppins";
  opacity: 1;
}

.menu-item-names {
  text-align: center;
  letter-spacing: 0px;
  font-family: "Poppins";
  opacity: 1;
  font-size: 14px;
  margin: 4%;
}

.bar-active {
  border-radius: 6px 0px 0px 6px;
}

.food-active {
  border-radius: 0px 6px 6px 0px;
}

.bar-inactive {
  border-radius: 6px 0px 0px 6px;
}

.food-inactive {
  border-radius: 0px 6px 6px 0px;
}

.dynamic-button {
  float: right;
  color: rgb(255, 176, 35);
}

.cart-menu {
  border-bottom: 1.5px solid $bg-clr;
  transition: all 0.2s ease-in-out;
  padding-bottom: 3px;
  & svg {
    fill: #808080;
  }
  &.active {
    color: $brand-clr;
    border-bottom: 1.5px solid $brand-clr;

    & svg {
      fill: #ff424d;
    }
  }
}

.item-home {
  min-height: 30px;
}

.options-home {
  min-height: 45px;
}

.card-home-image {
  width: 93px;
  height: 100px;
  opacity: 1;
}

.home-category {
  background: white;
}

.rest-card-home {
  padding: 5% 5% 0% 3%;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  /* width: 50%; */
  text-align: left;
}

.available-items {
  height: 120px;
  display: inline-block;
  width: 36%;
  width: 85% !important;
  margin: 2% 6% 2% 6%;
}

.main-items {
  text-align: center;
  letter-spacing: 0px;
  opacity: 1;
  font-family: "Poppins";
  font-size: 14px;
}

.cart-hr {
  width: 80%;
  margin: 0 auto !important;
  color: #909090;
  opacity: 1;
}

.detail-instructions {
  padding-left: 3%;
  color: #666666;
  font-family: "Poppins";
  padding-bottom: 6%;
  padding-top: 2%;
}

.detail-options {
  padding-left: 5%;
  color: #666666;
  font-family: "Poppins";
  font-size: 12px;
}

.arrow-down {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #909090;
  margin-top: 2.9%;
  margin-left: 2%;
}

.arrow-up {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #909090;
  margin-top: 2.9%;
  margin-left: 2%;
}

.bill-details {
  color: #000000;
  font-family: "Poppins";
}

.home-title-card-carousel {
  left: 50%;
  transform: translateX(-50%);
  /* left: 5rem; */
  position: absolute;
  top: 15rem;
  /* transform: translateY(-50%); */
  width: 80%;
}

.form-control {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 7px 8px #1c1b1b12;
  border-radius: 6px;
  opacity: 1;
}

#home-item {
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #efefef;
  border-radius: 6px;
  opacity: 1;
}

.custom-home-nav {
  bottom: 1px;
}

.options-button-close {
  color: #ffb023;
  border: 2px solid #ffb023;
  border-radius: 6px;
  opacity: 1;
  background: white;
}

.options-button-add {
  background: #ffb023 0% 0% no-repeat padding-box;
  border-radius: 6px;
  opacity: 1;
}

.slick-prev {
  display: none !important;
}

.slick-next {
  display: none !important;
}

.fooditem-home {
  width: 85% !important;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #efefef;
  border-radius: 6px;
  opacity: 1;
}

input[type="radio"]:checked:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  position: relative;
  background-color: #ffa500;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 2px solid #ffa500;
}

#root {
  padding-bottom: 20%;
}

.btn-primary:hover {
  background: #ffb023 0% 0% no-repeat padding-box !important;
  border-color: #ffb023 0% 0% no-repeat padding-box !important;
}

.card-title-name {
  background: #ffb023 0% 0% no-repeat padding-box;
  border-radius: 0px 6px 6px 0px;
  opacity: 1;
  padding: 1.25rem;
  font-size: 14px;
  width: 50%;
}

.table-name-card {
  text-align: left;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  font-family: "Poppins";
}

.item-status {
  text-align: left;
  letter-spacing: 0px;
  font-size: 13px;
  color: #000000;
  opacity: 1;
  font-family: "Poppins";
  font-weight: 700;
}

.item-status-tagging {
  float: right;
  padding-left: 4%;
  text-align: left;
  text-transform: capitalize;
  letter-spacing: 0px;
  font-size: 13px;
  color: #000000;
  opacity: 1;
  font-family: "Poppins";
}

.slick-track {
  display: flex !important;
}

.slick-slide {
  height: auto;
}

.sign-in {
  text-align: center;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  font-family: "Poppins";
  font-weight: 700;
  font-size: 26px;
}

.sign-in-label {
  text-align: center;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  font-family: "Poppins";
  font-size: 15px;
}

.sign-in-button {
  background-color: #ffb023 0% 0% no-repeat padding-box !important;
  background: #ffb023 0% 0% no-repeat padding-box !important;
  border-color: #ffb023 !important;
  border-radius: 6px !important;
  opacity: 1 !important;
  font-size: 17px;
  font-family: "Poppins";
}

.sign-in-or {
  padding-top: 5%;
  text-align: center;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  font-family: "Poppins";
  font-size: 15px;
}

.sign-in-google {
  background-color: #ffffff 0% 0% no-repeat padding-box !important;
  background: #ffffff 0% 0% no-repeat padding-box !important;
  border-color: #b3b3b3 !important;
  border: 2px solid !important;
  border-radius: 6px !important;
  color: black !important;
  opacity: 1 !important;
  font-size: 14px;
  min-height: 42px;
  font-family: "Poppins";
}

.sign-in-facebook {
  background: #1877f2 0% 0% no-repeat padding-box !important;
  background-color: #1877f2 0% 0% no-repeat padding-box !important;
  border-color: #b3b3b3 !important;
  border: 2px solid !important;
  border-radius: 6px !important;
  color: white !important;
  opacity: 1 !important;
  font-size: 14px;
  min-height: 42px;
  font-family: "Poppins";
}

.empty-orders {
  background-color: #ffb023 0% 0% no-repeat padding-box !important;
  background: #ffb023 0% 0% no-repeat padding-box !important;
  border-color: #ffb023 !important;
  border: 2px solid !important;
  border-radius: 6px !important;
  color: white !important;
  opacity: 1 !important;
  font-size: 14px;
  min-height: 42px;
  font-family: "Poppins";
}

.sign-in-member {
  margin-top: 5%;
  text-align: center;
  letter-spacing: 0px;
  color: #818181;
  font-family: "Poppins";
}

input[type="radio"] {
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 15px;
  outline: none;
  width: 15px;
  position: relative;
  content: "";
  display: inline-block;
  visibility: visible;
  box-shadow: 0px 0px 0px 2px #ffb023;
}
