html,
body {
  margin: 0;
}

#App {
  font-family: sans-serif;

  /* Give app full page to work with */
  height: 100vh;
}

#page-wrap {
  text-align: center;

  /* Prevent sidebar from showing a scrollbar on page */
  overflow: auto;
}

/* Individual item */
.bm-item {
  text-align: left;
  font: Bold 20px/26px Roboto;
  letter-spacing: 0.04px;
  color: #ffffff;
  text-transform: capitalize;
  opacity: 1;
  display: inline-block;
  padding: 5%;
  /* Our sidebar item styling */
  text-decoration: none;
  margin-bottom: 10px;
  transition: color 0.2s;
}

/* Change color on hover */
.bm-item:hover {
  color: white;
}

.navbar-menu-icon {
  width: 15%;
  margin-right: 5%;
}
/* The rest copied directly from react-burger-menu docs */

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 38px;
  height: 16px;
  left: 0px;
  top: 9px;
}

.shadow-menu {
  background: #9f9f9f 0% 0% no-repeat padding-box;
  box-shadow: 0px 4px 6px #00000029;
  opacity: 1;
}
.navbar-menu-hr {
  visibility: hidden;
}
/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
  padding: 0.5em 0.5em 0;
  font-size: 1.15em;
  background: #9f9f9f 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
}

/* General sidebar styles */
.bm-menu-wrap {
  top: 0;
}


.bm-overlay {
  background: transparent !important;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  background: #9f9f9f 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  opacity: 1;
}

/* Styling of overlay */
.icon-active {
  opacity: 1;
  width: 50%;
}

.icon-inactive {
  opacity: 1;
  width: 50%;
}

.icon-text {
  letter-spacing: 0.01px;
  color: #000000;
  text-transform: capitalize;
  opacity: 1;
  font-size: 14px;
  font-family: "Poppins";
}

.active-icon-select {
  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 19px;
  opacity: 0.6;
}
